$black: #141516;
$gray: #383C41;
$white: #F5F6F8;
$blue: #3973FF;
$font-color-white-1: #ffffff;
$font-color-white-2: rgba(255, 255, 255, 0.8);
$font-color-white-3: rgba(255, 255, 255, 0.6);
$font-color-black-1: #2C313E;
$font-color-black-2: rgba(0, 0, 0, 0.8);


@mixin font($size, $color, $weight) {
    font-family: source-han-sans-simplified-c, sans-serif;
    font-style: normal;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    @content;
}

// @mixin font($size, $color, $weight) {
//     font-family: Source Han Sans CN, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     font-size: $size;
//     font-weight: $weight;
//     color: $color;
//     @content;
// }

@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    @content;
}

img {
    pointer-events: none;
}

// .home::-webkit-scrollbar {
//     width: 0 !important
// }

// .home {
//     -ms-overflow-style: none;
// }

// .home {
//     overflow: -moz-scrollbars-none;
// }

// .home::-webkit-scrollbar {
//     display: none
// }

// .home::-webkit-scrollbar {
//     width: 0px
// }


// .home::-webkit-scrollbar-track-piece {
//     background-color: rgba(0, 0, 0, .2);
//     -webkit-border-radius: 6px;
// }

html {
    background-color: $black;
}

.home {
    ::selection {
        background-color: $black;
        color: $white;
    }
}

.article {
    width: 100vw;
    ::selection {
        background-color: transparent;
        color: $white;
    }

    @include flex-all-center {
        flex-direction: column;
    }

    img {
        width: 100%;
        max-width: 1200px;
        pointer-events: none;
    }

    &-wrap {
        margin-top: 88px;
        width: 100%;
        max-width: 1200px;
        overflow: hidden;
        border-radius: 12px;

        section {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 1200px) {
        .article-wrap {
            border-radius: 0;
            margin-top: 68px;
        }
    }
}