@media screen and (max-width: 800px) {
    #top {

        .container {
            ::v-deep .card {
                height: 800px;
                text-align: center;

                &:nth-of-type(1) {
                    .des {
                        word-break: normal;

                        p,
                        h1 {
                        word-break: normal;

                            z-index: 100;
                        }
                    }
                }

                .img-area {
                    bottom: 0;
                    &::after {
                        position: absolute;
                        top: 0;
                        z-index: 2;
                        content: "";
                        display: block;
                        width: 120%;
                        height: 160px;
                        background-image: linear-gradient(bottom, transparent 0%, transparent 50%, rgba(20, 21, 22, 1) 100%);
                    }
                }

                .card_wrap {
                    position: static;
                    justify-content: center;

                    .des {
                        position: relative;
                        align-items: center;
                        left: 0;
                        top: -160px;
                        padding: 0 32px;
                    }
                }
            }
        }

        .smallCards {
            flex-direction: column;

            .smallCard {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;

                ::v-deep img {
                    height: auto;
                }
            }
        }

        .xsCards {
            flex-direction: column;
            width: calc(100% - 30px);

            .xsCard {
                margin: 0;

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    margin-bottom: 20px;
                }
            }
        }

        .info_about,
        .info_contact {
            flex-direction: column;

            h1 {
                margin-bottom: 40px;
            }
        }
    }
}