@media screen and (min-width: 600px) {
    #nav-2 {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #app {
        .card {
            ::v-deep .ghostButton {
                display: none;
            }

            ::v-deep .defaultButton {
                margin: 0 !important;
            }

            &:nth-of-type(3) {
                ::v-deep  .img-area {
                    img {
                        left: 6px !important;
                    }
                }
            }
        }

        .motionCard {
            ::v-deep .motionCard_wrap .des h1 {
                line-height: 32px;
            }
        }

        .xsCard {
            height: 110px;

            ::v-deep h2 {
                transform: scale(0.85) translateX(-25px) translateY(-6px);
            }

            ::v-deep .bg {
                transform: scale(0.84) translateX(20px);
                transform-origin: top center;

            }
        }



        .nav-wrap {
            ul {
                animation: ulMove3 0.8s cubic-bezier(0.4, 0, 0, 1) forwards !important;
                transform-origin: center;

                @keyframes ulMove3 {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        transform: translateX(-6px) scale(0.8);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    #project,
    #works {
        position: relative !important;
        bottom: 0 !important;
    }

    #nav-1 {
        display: none;
    }

    #top {
        .break-line {
            width: 100%;
        }

        .head {
            position: relative;
            height: 560px;

            .head_container {
                .logo {
                    top: 118px;
                }

                .motion {
                    position: absolute;
                    bottom: 0;

                    .motion_mask {
                        animation: showLogo3 1.2s cubic-bezier(0.77, 0, 0.175, 1) forwards;

                        @keyframes showLogo3 {
                            0% {
                                transform: translateY(0);
                            }

                            100% {
                                transform: translateY(-390px);
                            }
                        }
                    }

                    .motion_logo {
                        width: 71vw;
                    }
                }
            }

            .nav-move {
                .nav-wrap {
                    ul {
                        animation: ulMove2 0.8s cubic-bezier(0.4, 0, 0, 1) forwards;

                        @keyframes ulMove2 {
                            0% {
                                opacity: 0;
                            }

                            100% {
                                transform: translateX(-24px);
                            }
                        }
                    }
                }
            }
        }





        .container {
            ::v-deep .card {
                text-align: center;

                .defaultButton {
                    margin-right: 10px;
                }

                &:nth-of-type(1) {
                    height: 500px;

                    .des {
                        top: -116px;
                        word-break: normal;

                        h1 {
                            font-size: 20px;
                            line-height: 26px;
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 12px;
                            line-height: 16px;

                            &:nth-of-type(1) {
                                margin-bottom: 24px;
                            }
                        }

                        p,
                        h1 {
                            // word-break: normal;
                            z-index: 100;
                        }
                    }

                    .img-area {
                        bottom: -20px;
                        right: -20px;

                        img {
                            height: 320px;
                        }

                        &::after {
                            position: absolute;
                            top: 0;
                            z-index: 2;
                            content: "";
                            display: block;
                            width: 120%;
                            height: 160px;
                            background-image: linear-gradient(bottom, rgba(20, 21, 22, 0) 0%, rgba(20, 21, 22, 1) 100%);
                        }
                    }
                }

                &:nth-of-type(2) {
                    height: 560px;

                    .des {
                        top: -120px;

                        img {
                            height: 32px;
                        }

                        span {
                            font-size: 12px;
                            line-height: 16px;
                            margin-bottom: 24px;
                            width: 90%;
                        }

                        p,
                        h1 {
                            word-break: normal;

                            z-index: 100;
                        }
                    }

                    .img-area {
                        bottom: -100px;

                        &::after {
                            position: absolute;
                            top: 0;
                            z-index: 2;
                            content: "";
                            display: block;
                            width: 120%;
                            height: 160px;
                            background-image: linear-gradient(bottom, rgba(245, 246, 248, 0) 0%, rgba(245, 246, 248, 1) 100%);
                        }
                    }
                }

                &:nth-of-type(3) {
                    height: 580px;

                    .des {
                        top: -120px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                            width: 90%;
                            margin-bottom: 24px;
                        }

                    }

                    .defaultButton {
                        margin: 0;
                    }

                    .img-area {
                        width: 100%;
                        bottom: -20px;

                        img {
                            position: relative;
                            left: 32px;
                            height: 320px;
                        }
                    }

                }

                &:nth-of-type(4) {
                    height: 600px;

                    .des {
                        top: -130px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                            width: 90%;
                            margin-bottom: 24px;
                        }

                        p,
                        h1 {
                            word-break: normal;

                            z-index: 100;
                        }

                        .defaultButton {
                            margin: 0;
                        }
                    }

                    .img-area {
                        width: 100%;
                        bottom: -10px;

                        img {
                            height: 330px;
                            position: relative;
                            left: -60px;
                        }

                        &::after {
                            position: absolute;
                            top: 0;
                            z-index: 2;
                            content: "";
                            display: block;
                            width: 120%;
                            height: 160px;
                            background-image: linear-gradient(bottom, rgba(245, 246, 248, 0) 0%, rgba(245, 246, 248, 1) 100%);
                        }
                    }
                }

                &:nth-of-type(5) {
                    height: 600px;

                    .des {
                        top: -120px;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                            width: 90%;
                            margin-bottom: 24px;
                        }
                    }

                    .img-area {
                        width: 100%;
                        bottom: -10px;

                        img {
                            height: 320px;
                            position: relative;
                            left: -40px;
                        }
                    }
                }

                .img-area {
                    bottom: 0;
                }

                .card_wrap {
                    position: static;
                    justify-content: center;

                    .des {
                        position: relative;
                        align-items: center;
                        left: 0;
                        // top: -160px;
                        padding: 0 24px;
                    }
                }
            }
        }

        .smallCards {
            flex-direction: column;

            ::v-deep .smallCard {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
                height: 300px;

                img {
                    height: auto;
                }

                &:nth-of-type(1) {
                    h1 {
                        font-size: 32px;
                    }

                    .smallCard_text {
                        top: 70px;
                    }

                    img {
                        width: 150%;
                        position: relative;
                        top: 60px;
                    }
                }

                &:nth-of-type(2) {
                    img {
                        height: 310px;
                    }

                    span {
                        font-size: 12px;
                        align-self: center;
                        bottom: -125px;

                    }

                    .centerImg {
                        height: 64px;
                    }
                }
            }
        }

        .xsCards {
            flex-direction: column;
            width: calc(100% - 30px);

            ::v-deep .xsCard {
                margin: 0;

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    margin-bottom: 20px;
                }

                a {
                    h2 {
                        width: 30%;
                        font-size: 26px !important;
                    }
                }
            }
        }

        ::v-deep .motionCard {
            height: 560px;

            &::before {
                right: 0;
            }

            .des {
                padding: 0 24px;
                text-align: center;
                left: unset;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 100%;
                top: -156px;

                h1 {
                    font-size: 24px;
                }

                span {
                    font-size: 12px;
                    line-height: 16px;
                    width: auto;
                    display: inline;
                    margin-bottom: 24px;

                }
            }

            .motion-group {
                width: 100%;
                right: 0;
                height: 320px;
                overflow: hidden;
                top: inherit;

                .left,
                .right {
                    width: 45%;
                    margin: 0 2px;
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }



                &::after {
                    position: absolute;
                    top: 0;
                    z-index: 2;
                    content: "";
                    display: block;
                    width: 120%;
                    height: 160px;
                    background-image: linear-gradient(bottom, transparent 0%, transparent 50%, rgba(20, 21, 22, 1) 100%);
                }

                img {
                    width: 94%;
                }


            }
        }

        .info {
            margin-bottom: 60px;
            margin-top: 80px;
        }

        .des {
            font-size: 12px;
            line-height: 18px;
        }

        .info_about,
        .info_contact {
            flex-direction: column;

            h1 {
                font-size: 26px;
                margin-bottom: 40px;
            }
        }

        .info_contact {

            .social,
            .contact-wrap {
                align-items: flex-start;
                flex-direction: column;

                .mail {
                    margin-bottom: 16px;
                }
            }
        }

        .globalFooter {
            // align-items: flex-start;

            flex-direction: column;
            align-items: flex-start;

            ::v-deep .globalFooter_links {
                // display: flex;
                // flex-direction: column;

                a {
                    margin: 8px 0 0 0;

                    &:last-child {
                        border: none;
                        padding-left: 0;
                    }
                }

            }

            ::v-deep .globalFooter_copyright {
                max-width: 100%;
                text-align: left;
                line-height: 18px;
                margin-top: 16px;
            }
        }

    }
}



// @media screen and (max-width: 1100px) {
//   #top {
//   ::v-deep  .card_wrap {
//     .des {
//         left: 60px;
//     }
//     .img-area {
//         right: -80px;
//     }
//   }

//   ::v-deep .motionCard_wrap {
//     .des {
//         left: 60px;
//       }

//       .motion-group {
//           right: 40px;
//       }
//   }
//   }
// }